# Задание 1

Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:

The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [ ]:
from datetime import datetime
from datetime import timedelta

In [ ]:
releases = ['The Moscow Times - Wednesday, October 2, 2002',
             'The Guardian - Friday, 11.10.13',
             'Daily News - Thursday, 18 August 1977'
           ]

In [ ]:
dt1, dt2, dt3 = [release.split('-')[1].strip() for release in releases]

date_Moscow_Times = datetime.strptime(dt1, '%A, %B %d, %Y')
date_The_Guaridan = datetime.strptime(dt2, '%A, %d.%m.%y')
date_Daily_News = datetime.strptime(dt3, '%A, %d %B %Y')

In [ ]:
print(f'- Moscow_Times: {date_Moscow_Times}\n- The_Guaridan: {date_The_Guaridan}\n- Daily_News: {date_Daily_News}')

- Moscow_Times: 2002-10-02 00:00:00
- The_Guaridan: 2013-10-11 00:00:00
- Daily_News: 1977-08-18 00:00:00

# Задание 2

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:

stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]


Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [ ]:
def check_correct_dates(stream):
    """
    Функция check_correct_date позволяет проверять даты на корректность.
    Для каждой даты возвращает True(дата корректна или False)
    """
    error_date = []
    total_errors = 0

    for date in stream:
        try:
          # Преобразование строки в формат datetime
            date_dt = datetime.strptime(date, '%Y-%m-%d')
            print(f'{date_dt} - True')
        except ValueError:
            print(f'{date} - False')
            error_date.append(date)
            total_errors += 1
    # Расчет % ошибок в данных.
    error_rate = 100 * total_errors / len(stream)

    print(f'Процент ошибок в данных: {error_rate:.2f}%')

In [ ]:
# ? check_correct_dates - Docstring

In [ ]:
check_correct_dates(stream)

2018-04-02 00:00:00 - True
2018-02-29 - False
2018-19-02 - False
Процент ошибок в данных: 66.67%

# Задание 3

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
def date_range():
    """
    Функция возвращает список дат за период от start_date до end_date.
    Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата
    или при start_date > end_date функция возвращает пустой список.
    """

    start_date = input('Введите начальную дату в формате YYYY-MM-DD ')
    end_date = input('Введите конечную дату в формате YYYY-MM-DD ')

    try:
#         Перевод строк в дату
        start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
        end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

    except ValueError:
          return []

        current_date = start_date_dt
        dates = []

        if start_date_dt < end_date_dt:
            # print('Условие выполнено!') - для отладки

            while current_date <= end_date_dt:
                dates.append(datetime.strftime(current_date, '%Y-%m-%d' ))
                current_date += timedelta(days=1)

            return dates

        else:
            return []

In [ ]:
# Тестирование функции:
date_range()

Введите начальную дату в формате YYYY-MM-DD 2022-01-01
Введите конечную дату в формате YYYY-MM-DD 2022-01-06

['2022-01-01',
 '2022-01-02',
 '2022-01-03',
 '2022-01-04',
 '2022-01-05',
 '2022-01-06']

In [ ]:
# start_date > end_date
date_range()

Введите начальную дату в формате YYYY-MM-DD 2022-12-01
Введите конечную дату в формате YYYY-MM-DD 2022-01-01

[]

In [ ]:
# Неправильно задан формат даты
date_range()

Введите начальную дату в формате YYYY-MM-DD 01-01-2022
Введите конечную дату в формате YYYY-MM-DD 01-06-2022

[]